/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343A50;
  --card-background-color: #2e384d;
  --countdown-background-color: #433765;
  --main-text-color:#F7F6F4;
  --title-text-color:rgb(193, 205, 255);
}

body{
/*  background-color:var(--main-background-color);*/
  background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);;
  background-size: cover;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: bold;
}



